extends layout

block content
  h1= title
  p Rows #{query.rows}, Cols: #{query.cols}

  - var rows = Number(query.rows)
  - var cols = Number(query.cols)

  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p Error: rows or cols is not an Integer 
  else if rows < 3 || rows > 13
    p Error: rows is out of range
  else if cols < 3 || cols > 13
    p Error: cols is out of range
  else
    table#outer
      - for(let i=0; i<rows; i++) {
        tr#middle
          - for(let j=0; j<cols; j++) {
              td= i - j 
          - }
      - }