extends layout

block content
  h1= title
  p Welcome to Tanner Jackley's #{title}
  button(type="button", class="btn btn-primary", onclick="faster()") Sample Button 
  div(id="faster") add in extra 

  script.  
    var value = 1;
    var amt = 2;

    function faster() {
      amt *= 2;
      value += amt;
      
      document.getElementById("faster").innerHTML = `Faster ${value} times ${amt}`;
    }

  a(href="./yachts") Yachts